# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Cpp/.vs/
Cpp/x64/
.vs/
Cpp/Chapter01/x64/
*.ppm
Cpp/Chapter02/x64/
*.png
Cpp/ThirdParty/
Cpp/Chapter03/x64/Debug/Chapter03.vcxproj.FileListAbsolute.txt
Cpp/Chapter03/x64/Debug/Chapter03.Build.CppClean.log
Cpp/Chapter03/x64/
